.logo{
    width: 15%;
    filter: drop-shadow(0 0 5px #4a1873) drop-shadow(0 0 20px #391150) contrast(1.2) brightness(1.5);
    transition: 220ms;
}
.logo:hover{
    transform: scale(1.05);
    filter: drop-shadow(0 0 5px #4a1873) drop-shadow(0 0 20px #391150) contrast(1) brightness(2);
}

.navbarE{
    background-image: url('../../../vistas/PS_Background_Medium.png');
    background-size: cover;
    background-position-y: bottom;
    height: 13vh;
    box-shadow:
     inset 0 -3em 3em rgba(0, 0, 0, 0.212),
           0 0  0 2px rgba(0, 0, 0, 0.758),
           0px 0px 10px 10px rgba(5, 5, 26, 0.696);
}

.perfilCanvaHeader{
    background-image: url('../../../vistas/PS_Background_Medium.png');
    background-position-y: center;
    box-shadow:
     inset 0 -3em 3em rgba(0, 0, 0, 0.212),
           0 0  0 2px rgba(0, 0, 0, 0.758),
           0px 0px 10px 10px rgba(5, 5, 26, 0.696);
}
.perfilCanvaBody{
    background-color: rgb(15, 15, 63);
    box-shadow:
     inset 0 -3em 3em rgba(0, 0, 0, 0.212),
           0 0  0 2px rgba(0, 0, 0, 0.758),
           0px 10px 10px 10px rgba(5, 5, 26, 0.696);
}