.contenedor{
    background-image: url('../../../vistas/PS_Background_Medium.png');
    background-size: cover;
    background-position-y: bottom;
    height: 100%;
    width: 100%;
    position: fixed;
}

.blurFondoLogin{
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
}

.login{
    width: 30%;
    height: 70%;
    background-color: rgba(20, 53, 125, 0.781);
    border: solid 3px rgb(11, 24, 54);
    border-radius: 10px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.212);
}
.login hr{
    width: 100%;
}