@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Roboto&family=Roboto+Mono:wght@300;400&display=swap');


*{
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caveat', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
}
