.contenedorInicio{
    background-image: url('../../../vistas/PS_Background_Medium.png');
    background-size: cover;
    background-position-y: bottom;
}

.inicio{
    backdrop-filter: blur(3px);
    min-height: 87vh;
}